<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Test Project</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
  <script src="../app.js"></script>
  <script src="controllers/mainController.js"></script>
  <script src="services/mainServices.js"></script>
</head>
<body ng-app="nameApp" ng-controller="mainCtrl as main">
  <div class="container">
    <h1>Test App</h1>
    <div class="col-xs-12">
      <input class="name-input" ng-model="name"></input>
      <a class="btn btn-success" ng-click="main.addName(name)">Add</a>
    </div>
    <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in main.names">
            <td>{{$index+1}}</td>
            <td>
              <input ng-if="main.modifyMode[$index]" ng-model="item.name">
              <span ng-if="!main.modifyMode[$index]">{{item.name}}</span>
            </td>
            <td>
              <a class="btn btn-danger" ng-if="!main.modifyMode[$index]" ng-click="main.deleteName(item._id)">Delete</a>
              <a class="btn btn-primary" ng-if="!main.modifyMode[$index]" ng-click="main.modifyMode[$index]=true">Edit</a>
              <a class="btn btn-default" ng-if="main.modifyMode[$index]" ng-click="main.modifyMode[$index]=false">cancel</a>
              <a class="btn btn-primary" ng-if="main.modifyMode[$index]" ng-click="main.modifyMode[$index]=false;main.editName(item.name,item._id)">save</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <script  src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="  crossorigin="anonymous"></script>
</body>
</html>